/* 登录页面 */
.m-left-box,.m-right-box{width:400px;float:left;height:300px;}
.m-left-box{width:160px;margin-left:172px;}
.m-middle-box{float:left;width:196px;height:300px;background: url(https://res.jinhui365.cn/r/images/images/or.png) no-repeat center;}
.m-form-login li{height: 40px;overflow: hidden;padding:10px 0;}

.m-login-title{line-height: 40px;padding-bottom:50px;font-size: 20px;}

.m-add-nav{padding-left:200px;}