<div class="g-header">
    <div id="header">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <ul class="menu">
            <li <% if(page == 'index'){ %>class="menu_hover" <% }%>>
                <a href="/">首页</a> 
            </li>  
            <li <% if(page == 'add'){ %>class="menu_hover" <% }%>>
                <a href="/addNav">添加导航</a> 
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>